.header__lang-link {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link:hover {
  transition: 0.5s;
  opacity: 0.8;
}

@media screen and (max-width: 321px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}