.footer__menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__menu {
    flex-direction: column;
    gap: 32px;
  }
}