.lead {
  max-width: calc(100% - 2*148px);
  min-width: 320px;
  min-height: 406px;
  margin: 0 auto;
  color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
  }
}