.header {
  max-width: calc(1280px - 2*48px);
  min-height: 42px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 27px 48px 57px;
}

@media screen and (max-width: 1025px) {
  .header {
    padding-top: 28px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 769px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 321px) {
  .header {
    min-width: calc(320px - 2*16px);
    padding: 16px 16px 48px;
  }
}