.cover__title {
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
 /* max-width: 560px;*/
  align-self: center;
}

@media screen and (max-width: 650px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
  }
}