.intro__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

@media screen and (max-width: 321px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}